/* Student solution styles */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-flow: 150px;
}

.grid__cell {
  background: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.grid__cell[data-empty='true'] {
  background: gray;
}