/* Container: relative positioning, inline-block */
.container {
  position: relative;
}

/* Tooltip: absolute positioned, styled box with opacity transition */
.tooltip {
  position: absolute;
  width: 100px;
  max-width: 100px;
  min-height: 100px;
  background: yellow;
  display: none;
  cursor: pointer;
}

.top {
  top: 0;
  transform: translateY(-100%);
}

.bottom {
  bottom: 0;
  transform: translateY(100%);
}

.left {
  left: 0;
  transform: translateX(-100%)
}

.right {
  left: 0;
  transform: translateX(100%)
}
